@mixin animation($name, $duration: 0s, $timing: ease, $delay: 0s, $iteration: 1, $mode: none, $direction: normal) {
  animation: $name $duration $timing $delay $iteration $mode $direction;
  -webkit-animation: $name $duration $timing $delay $iteration $mode $direction;
  -moz-animation: $name $duration $timing $delay $iteration $mode $direction;
  -o-animation: $name $duration $timing $delay $iteration $mode $direction;
}
