@mixin transition($during: 0s, $timing: ease, $delay: 0s) {
  transition: all $during $timing $delay;
  -webkit-transition: all $during $timing $delay;
  -moz-transition: all $during $timing $delay;
  -o-transition: all $during $timing $delay;
}
