@mixin scale($scale) {
  -moz-transform: scale($scale);
  -webkit-transform: scale($scale);
  -o-transform: scale($scale);
  -ms-transform: scale($scale);
  transform: scale($scale);
}
@mixin translate($x, $y) {
  -moz-transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}
@mixin translate-and-scale($x, $y, $scale) {
  -moz-transform: translate($x, $y) scale($scale);
  -webkit-transform: translate($x, $y) scale($scale);
  -o-transform: translate($x, $y) scale($scale);
  -ms-transform: translate($x, $y) scale($scale);
  transform: translate($x, $y) scale($scale);
}
@mixin translate-rotate-scale($x, $y, $rotate, $scaleX, $scaleY: $scaleX) {
  -moz-transform: translate($x, $y) rotate($rotate) scale($scaleX, $scaleY);
  -webkit-transform: translate($x, $y) rotate($rotate) scale($scaleX, $scaleY);
  -o-transform: translate($x, $y) rotate($rotate) scale($scaleX, $scaleY);
  -ms-transform: translate($x, $y) rotate($rotate) scale($scaleX, $scaleY);
  transform: translate($x, $y) rotate($rotate) scale($scaleX, $scaleY);
}
@mixin transform-origin-center {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -moz-transform-origin: 0 0;
}
