@charset 'utf-8';

$white: #fff;
$gray: #222;
$aqua: #63c2ff;

h2 { margin: 0; }

ol {
  margin: 0; padding: 0;
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

body {
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPR";
  color: $white;
  background-color: $gray;
  width: 100%; height: 100%;
}

@mixin scale($scale) {
  -moz-transform: scale($scale);
  -webkit-transform: scale($scale);
  -o-transform: scale($scale);
  -ms-transform: scale($scale);
  transform: scale($scale);
}
@mixin translate($x, $y) {
  -moz-transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}
@mixin translate-and-scale($x, $y, $scale) {
  -moz-transform: translate($x, $y) scale($scale);
  -webkit-transform: translate($x, $y) scale($scale);
  -o-transform: translate($x, $y) scale($scale);
  -ms-transform: translate($x, $y) scale($scale);
  transform: translate($x, $y) scale($scale);
}
@mixin transform-origin-center {
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@mixin keyframes($id) {
  @-webkit-keyframes #{$id} { @content; }
  @-moz-keyframes #{$id} { @content; }
  @-ms-keyframes #{$id} { @content; }
  @-o-keyframes #{$id} { @content; }
  @keyframes #{$id} { @content; }
}

@mixin circle-animation($delay) {
  animation: circle 0.2s ease-in forwards;
  -webit-animation: circle 0.2s ease-in forwards;
  -moz-animation: circle 0.2 ease-in forwards;
  animation-delay: $delay;
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
}
@include keyframes(circle) {
  0% {
    stroke-opacity: 0;
    @include transform-origin-center;
    @include scale(0.8);
  }
  70% {
    stroke-opacity: 1;
    @include transform-origin-center;
    @include scale(1.5);
  }
  100% {
    stroke-opacity: 1;
    @include transform-origin-center;
    @include scale(1);
  }
}
@mixin line-animation($delay) {
  animation: line 0.2s ease-in forwards;
  -webit-animation: line 0.2s ease-in forwards;
  -moz-animation: line 0.2s ease-in forwards;
  animation-delay: $delay;
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
}
@include keyframes(line) {
  0% { stroke-dashoffset: 2000; }
  100% { stroke-dashoffset: 0; }
}
@mixin slow-line-animation($duration, $delay: 0s) {
  animation: slow-line $duration ease-in forwards;
  -webkit-animation: slow-line $duration ease-in forwards;
  -moz-animation: slow-line $duration ease-in forwards;
  animation-delay: $delay;
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
}
@include keyframes(slow-line) {
  0% { stroke-dashoffset: 4000; }
  100% { stroke-dashoffset: 0; }
}

@mixin slow-hover-animation {
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
@mixin slide-down-animation($duration, $delay) {
  animation: slide-down $duration ease-out forwards;
  -webkit-animation: slide-down $duration ease-out forwards;
  -moz-animation: slide-down $duration ease-out forwards;
  animation-delay: $delay;
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
}
@include keyframes(slide-down) {
  0% {
    opacity: 0;
    @include translate(0px, -50px);
  }
  100% {
    opacity: 1;
    @include translate(0px, 0px);
  }
}
@mixin slide-up-animation($duration, $delay) {
  animation: slide-up $duration ease-out forwards;
  -webkit-animation: slide-up $duration ease-out forwards;
  -moz-animation: slide-up $duration ease-out forwards;
  animation-delay: $delay;
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
}
@include keyframes(slide-up) {
  0% {
    opacity: 0;
    @include translate(0px, 50px);
  }
  100% {
    opacity: 1;
    @include translate(0px, 0px);
  }
}
@mixin signal-animation($delay) {
  animation-delay: $delay;
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}
@mixin signal1-animation($duration, $delay) {
  @include transform-origin-center;
  animation: signal1 $duration ease-in;
  -webkit-animation: signal1 $duration ease-in;
  -moz-animation: signal1 $duration ease-in;
  @include signal-animation($delay)
}
@include keyframes(signal1) {
  /*
   *  Bad solution.
   *  However, svg animateMotion cannot adjust css animation timing.
   *  In addition, cannot support ie.
   */
   0% { @include translate-and-scale(174px, 224px, 1  ); opacity: 0; }
   1% { @include translate-and-scale(154px, 164px, 1.2); opacity: 1; }
   2% { @include translate-and-scale(174px, 104px, 1  ); opacity: 0; }
   3% { @include translate-and-scale(218px, 162px, 1.2); opacity: 1; }
   4% { @include translate-and-scale(274px, 184px, 1  ); opacity: 0; }
   5% { @include translate-and-scale(300px, 234px, 1.2); opacity: 1; }
   6% { @include translate-and-scale(360px, 234px, 1  ); opacity: 0; }
   7% { @include translate-and-scale(334px, 284px, 1.2); opacity: 1; }
   8% { @include translate-and-scale(374px, 374px, 1  ); opacity: 0; }
   9% { @include translate-and-scale(374px, 374px, 1.2); opacity: 1; }
  10% { @include translate-and-scale(374px, 374px, 1  ); opacity: 0; }
  100% { opacity: 0; }
}
@mixin signal2-animation($duration, $delay) {
  @include transform-origin-center;
  animation: signal2 $duration linear;
  -webkit-animation: signal2 $duration linear;
  -moz-animation: signal2 $duration linear;
  @include signal-animation($delay)
}
@include keyframes(signal2) {
  20% { @include translate-and-scale(454px,  74px, 1  ); opacity: 0; }
  21% { @include translate-and-scale(494px, 134px, 1.2); opacity: 1; }
  22% { @include translate-and-scale(440px, 120px, 1  ); opacity: 0; }
  23% { @include translate-and-scale(414px, 164px, 1.2); opacity: 1; }
  24% { @include translate-and-scale(344px, 164px, 1  ); opacity: 0; }
  25% { @include translate-and-scale(360px, 230px, 1.2); opacity: 1; }
  26% { @include translate-and-scale(334px, 284px, 1  ); opacity: 0; }
  27% { @include translate-and-scale(414px, 374px, 1.2); opacity: 1; }
  28% { @include translate-and-scale(414px, 374px, 1  ); opacity: 0; }
  100% { opacity: 0; }
}
@mixin signal3-animation($duration, $delay) {
  @include transform-origin-center;
  animation: signal3 $duration linear;
  -webkit-animation: signal3 $duration linear;
  -moz-animation: signal3 $duration linear;
  @include signal-animation($delay)
}
@include keyframes(signal3) {
  40% { @include translate-and-scale(494px, 134px, 1  ); opacity: 0; }
  41% { @include translate-and-scale(514px, 204px, 1.2); opacity: 1; }
  42% { @include translate-and-scale(470px, 200px, 1  ); opacity: 0; }
  43% { @include translate-and-scale(414px, 224px, 1.2); opacity: 1; }
  44% { @include translate-and-scale(474px, 264px, 1  ); opacity: 0; }
  45% { @include translate-and-scale(404px, 284px, 1.2); opacity: 1; }
  46% { @include translate-and-scale(414px, 374px, 1  ); opacity: 0; }
  47% { @include translate-and-scale(414px, 374px, 1.2); opacity: 1; }
  48% { @include translate-and-scale(414px, 374px, 1  ); opacity: 0; }
  100% { opacity: 0; }
}
@mixin signal4-animation($duration, $delay) {
  @include transform-origin-center;
  animation: signal4 $duration linear;
  -webkit-animation: signal4 $duration linear;
  -moz-animation: signal4 $duration linear;
  @include signal-animation($delay)
}
@include keyframes(signal4) {
  60% { @include translate-and-scale(374px,  44px, 1  ); opacity: 0; }
  61% { @include translate-and-scale(304px,  44px, 1.2); opacity: 1; }
  62% { @include translate-and-scale(270px, 118px, 1  ); opacity: 0; }
  63% { @include translate-and-scale(274px, 184px, 1.2); opacity: 1; }
  64% { @include translate-and-scale(234px, 234px, 1  ); opacity: 0; }
  65% { @include translate-and-scale(274px, 284px, 1.2); opacity: 1; }
  66% { @include translate-and-scale(334px, 284px, 1  ); opacity: 0; }
  67% { @include translate-and-scale(374px, 374px, 1.2); opacity: 1; }
  68% { @include translate-and-scale(374px, 374px, 1  ); opacity: 0; }
  100% { opacity: 0; }
}
@mixin signal5-animation($duration, $delay) {
  @include transform-origin-center;
  animation: signal5 $duration linear;
  -webkit-animation: signal5 $duration linear;
  -moz-animation: signal5 $duration linear;
  @include signal-animation($delay)
}
@include keyframes(signal5) {
  70% { @include translate-and-scale(474px, 264px, 1  ); opacity: 0; }
  71% { @include translate-and-scale(434px, 324px, 1.2); opacity: 1; }
  72% { @include translate-and-scale(364px, 324px, 1  ); opacity: 0; }
  73% { @include translate-and-scale(334px, 284px, 1.2); opacity: 1; }
  74% { @include translate-and-scale(360px, 230px, 1  ); opacity: 0; }
  75% { @include translate-and-scale(404px, 284px, 1.2); opacity: 1; }
  76% { @include translate-and-scale(414px, 374px, 1  ); opacity: 0; }
  77% { @include translate-and-scale(414px, 374px, 1.2); opacity: 1; }
  78% { @include translate-and-scale(414px, 374px, 1  ); opacity: 0; }
  100% { opacity: 0; }
}
@mixin selected-animation ($duration: 2.5s) {
  animation: selected $duration ease-in-out infinite;
  -webkit-animation: selected $duration ease-in-out infinite;
  -moz-animation: selected $duration ease-in-out infinite;
}

@include keyframes(selected) {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}

.header__title {
  margin-bottom: 0;
  text-align: center;
  opacity: 0;
  @include slide-down-animation(1s, 2s);
}

.brainNav {
  $skin-duration: 1;
  text-align: center;
  margin: 20px 20px 20px 0;
  g path {
    @include slow-hover-animation;
  }
  &__skin {
    path {
      stroke-dasharray: 4000;
      stroke-dashoffset: 4000;
      @include slow-line-animation(#{$skin-duration + 0.5}s);
    }
  }
  g .circleInner1 {
    stroke-opacity: 0;
    @include circle-animation(#{0.2 + $skin-duration + 1.2}s);
  }
  g .lineInner1 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    @include slow-line-animation(3s, #{$skin-duration + 1.2}s);
  }
  .circleAnimation1 {
    opacity: 0;
    @include signal1-animation(10s, 4s);
  }
  .circleAnimation2 {
    opacity: 0;
    @include signal2-animation(10s, 4s);
  }
  .circleAnimation3 {
    opacity: 0;
    @include signal3-animation(10s, 4s);
  }
  .circleAnimation4 {
    opacity: 0;
    @include signal4-animation(10s, 4s);
  }
  .circleAnimation5 {
    opacity: 0;
    @include signal5-animation(10s, 4s);
  }
  &__frontalLobe {
    &._selected_ {
      g path {
        fill: rgba(255,0,0,0.5);
        @include selected-animation;
      }
    }
    &._animated_:hover {
      g path { fill: rgba(255,0,0,0.5); }
    }
    @for $i from 1 through 10 {
      .circle#{$i} {
        stroke-opacity: 0;
        @include circle-animation(#{$i / 10 - 0.2 + $skin-duration}s);
      }
      .line#{$i} {
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
        @include line-animation(#{$i / 10 + $skin-duration}s);
      }
    }
  }
  &__parietalLobe {
    &._selected_ {
      g path {
        fill: rgba(255,255,0,0.5);
        @include selected-animation;
      }
    }
    &._animated_:hover {
      g path { fill: rgba(255,255,0,0.5); }
    }
    @for $i from 1 through 6 {
      .circle#{$i} {
        stroke-opacity: 0;
        @include circle-animation(#{$i / 10 - 0.2 + $skin-duration}s);
      }
      .line#{$i} {
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
        @include line-animation(#{$i / 10 + $skin-duration}s);
      }
    }
  }
  &__occipitalLobe {
    &._selected_ {
      g path {
        fill: rgba(0,255,255,0.5);
        @include selected-animation;
      }
    }
    &._animated_:hover {
      g path { fill: rgba(0,255,255,0.5); }
    }
    @for $i from 1 through 5 {
      .circle#{$i} {
        stroke-opacity: 0;
        @include circle-animation(#{$i / 10 - 0.2 + $skin-duration}s);
      }
      .line#{$i} {
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
        @include line-animation(#{$i / 10 + $skin-duration}s);
      }
    }
  }
  &__temporalLobe {
    &._selected_ {
      g path {
        fill: rgba(0,255,0,0.5);
        @include selected-animation;
      }
    }
    &._animated_:hover {
      g path { fill: rgba(0,255,0,0.5); }
    }
    @for $i from 1 through 9 {
      .circle#{$i} {
        stroke-opacity: 0;
        @include circle-animation(#{$i / 10 - 0.2 + $skin-duration}s);
      }
      .line#{$i} {
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
        @include line-animation(#{$i / 10 + $skin-duration}s);
      }
    }
  }
  &__cerebellum {
    &._selected_ {
      g path {
        fill: rgba(0,0,255,0.5);
        @include selected-animation;
      }
    }
    &._animated_:hover {
      g path { fill: rgba(0,0,255,0.5); }
    }
    @for $i from 1 through 5 {
      .circle#{$i} {
        stroke-opacity: 0;
        @include circle-animation(#{$i / 10 - 0.2 + $skin-duration}s);
      }
      .line#{$i} {
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
        @include line-animation(#{$i / 10 + $skin-duration}s);
      }
    }
  }
  &__brainstem {
    &._selected_ {
      g path {
        fill: rgba(128,0,128,0.5);
        @include selected-animation;
      }
    }
    &._animated_:hover {
      g path { fill: rgba(128,0,128,0.5); }
    }
    @for $i from 1 through 4 {
      .circle#{$i} {
        stroke-opacity: 0;
        @include circle-animation(#{$i / 10 - 0.2 + $skin-duration}s);
      }
      .line#{$i} {
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
        @include line-animation(#{$i / 10 + $skin-duration}s);
      }
    }
  }
}

.section {
  width: 500px;
  min-height: 200px;
  margin: -200px auto 0;
  opacity: 0;
  @include slide-up-animation(1s, 2s);
  &._selected_ {
    @include slide-up-animation(1s, 0s);
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.footer {
  margin: 20px 0;
  text-align: center;
}
