.circleAnimation1 {
  opacity: 0;
  @include signal1-animation(10s, 4s);
}
.circleAnimation2 {
  opacity: 0;
  @include signal2-animation(10s, 4s);
}
.circleAnimation3 {
  opacity: 0;
  @include signal3-animation(10s, 4s);
}
.circleAnimation4 {
  opacity: 0;
  @include signal4-animation(10s, 4s);
}
.circleAnimation5 {
  opacity: 0;
  @include signal5-animation(10s, 4s);
}
