<!DOCTYPE html>
<html>
  <head>
    <title>ShimomuhBrain</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= yield :javascript_after_body %>
</html>
